<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <title>Mail Restauran</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <!-- header -->
    <app-bar></app-bar>

    <!-- hero element -->
    <hero-element></hero-element>

    <main id="maincontent">
      <div class="title__content" tabindex="0">
        <h1>Explore <span>Restaurant</span></h1>
      </div>
      <!-- data restaurant -->
      <restaurant-list class="restaurant-container"></restaurant-list>
    </main>

    <!-- footer -->
    <my-footer></my-footer>
  </body>
</html>
